{% extends "base.html" %}
	{% block title %}
		War Report
	{% endblock %}
	{% block head %}
				<link type="text/css" href="{{url_for('static', filename='loginReg.css')}}" rel="stylesheet"></link>
	{% endblock %}
	{% block body %}
		<div class="container">
			<h2>{{text[0]}}</h2>
			</br>
			<h2>{{text[1]}}</h2>
			</br>
			<h2>{{text[2]}}</h2>
			</br>
			<h2>{{text[3]}}</h2>
			</br>
			<h2>{{text[4]}}</h2>
			</br>
			<h2>{{text[5]}}</h2>
			</br>
			<h2>{{text[6]}}</h2>
			</br>
		</div>
	{% endblock %}
		
